<template>
  <parent text="Text from App.vue"/>
</template>

<script>

import { store } from "store";

store.setTextAction("Text from App.vue");

import Parent from "./Parent";
export default {
  components: { Parent }
};
</script>
