<template>
  <div></div>
</template>

<script>
import Carousel from "./Carousel";
import RedCard from "./RedCard";
import YellowCard from "./YellowCard";

export default {
  components: {
    Carousel,
    RedCard,
    YellowCard
  }
};
</script>

<style>
* {
  margin: 0;
}
</style>